.input_2 {
  margin-top: 10px;
  padding: 10px;
  width: 99%; /* Ancho máximo menos el espacio para el padding */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
  border: 2px solid #0c7ae0ab; /* Borde gris claro */
  width: 100%;
}

.searchBar {
  width: 100%;
  max-width: 700px; /* Set a max-width for the section */
  box-sizing: border-box;
  padding: 10px;
  margin: 30px auto 0 auto; /* Center the section and add top margin */
  text-align: center; /* Center align the section */
}
.js__searchBarInput {
  width: calc(
    100% - 120px
  ); /* Reduce the width by the button's width + some margin */
  display: inline-block;
  box-sizing: border-box;
  padding: 4px;
  font-size: 16px;
}
.js__btn {
  width: 100px; /* Fixed width for the button */
  display: inline-block;
  box-sizing: border-box;
  padding: 4px;
  font-size: 16px;
  margin-left: 10px; /* Space between input and button */
  background-color: #0c7ae0ab;
  color: whitesmoke;
}
.js__searchBarInput::placeholder {
  color: #007bff;
  font-size: 12px;
} /* Same color as button background */

.UlStyle {
  display: flex;
  flex-wrap: wrap; /* Permitir que los elementos se ajusten a la línea siguiente si es necesario */
  justify-content: center; /* Distribuir los elementos uniformemente a lo largo del contenedor */
  padding: 0;
  margin: 0;
  list-style: none;
}

.charactersList {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $text-color;
}
.listStyles {
  flex: 1 1 200px; /* Permitir que los elementos crezcan y se reduzcan, con un tamaño base de 200px */
  margin: 10px; /* Espaciado alrededor de cada elemento */
  box-sizing: border-box; /* Incluir padding y border en el tamaño total del elemento */
  position: relative; /* Necesario para la superposición */
  text-align: center; /* Centrar contenido dentro del elemento de la lista */
  max-width: 220px; /* Máximo ancho de cada tarjeta */
  border: 4px solid #3498db; /* Agregar borde alrededor de cada tarjeta */
  border-radius: 10px; /* Bordes redondeados opcionales */
  overflow: hidden; /* Asegurar que el contenido no se desborde */
  background-color: #fff; /* Fondo blanco para la tarjeta */
}
.card_img {
  width: 150px; /* Ajustar el ancho fijo de las imágenes */
  height: 150px;
  object-fit: cover; /* Asegurar que la imagen cubra el área designada manteniendo el aspecto */
  border-radius: 10px;
  margin-top: 10px;
}
.card__title {
  margin-top: 10px;
  font-size: 1.2em;
  color: #0e8de2;
  margin-bottom: 10px;
}
.div {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.favourite {
  background-color: aquamarine;
}
