<main class="main">

    <section class="searchBar">

        <input class="js__searchBarInput input_2" type="text" name="name" id="name" placeholder="Example:Olu Mei">
        <button class="js__btn input_2">Search</button>
    </section>

    <section>

        <div class="div">
            <section class="charactersList">
                <h2>Characters</h2>
                <ul class="js__charactersCards UlStyle">
                </ul>
            </section>

            <section class="charactersList">
                <h2>Favourites</h2>
                <ul class="js__favourites UlStyle">
                </ul>
            </section>
        </div>
</main>



</main>